body > div{
  overflow-x:hidden;
}

#header{
  background-color:#303030;
}

.card{
  border-radius:0;
  padding:2em;
  margin:0em;
}

#visualizacao{
  background-color:black;
  color:white;
  width:100%;
  height:80vh;
  overflow-y:scroll;
  word-wrap:break-word;
  padding:0.5em;
}

#codearea{
  font-family:monospace;
  width:100%;
  height:80vh;
}
